<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sign-up</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content>
  <p>Ingrese su correo electronico</p>
  <input #emailInput0 type="text" placehlder="correo"/>
  <p>Ingrese su contraseña</p>
  <input #passwordInput0 type="password"/>
  <ion-button 
  class="text-white bg-skyblue-700 hover:bg-skyblue-800">
  Crear cuenta</ion-button>
</ion-content>